html,
body {
	background-color: #000;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	color: #fff;
}

.main {
	margin: 1.5rem;
	width: 960px;
}

.help_wrapper,
.log_wrapper {
	line-height: 150%;
	color: #999;
	margin-bottom: 1rem;
}

a:link, a:visited, a:hover, a:active {
	color: #777;
}

.video_wrapper {
	position: relative;
	width: 960px;
	height: 540px;
	margin-bottom: 0.5rem;
	transition: all 0.3s;
}

.video_area {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	transition: all 0.3s;
}

.hidden {
	opacity: 0 !important;
}

.video_bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	transition: all 0.3s;
	background-color: #00FF00;
}

.text_overlay_wrapper {
    box-sizing: border-box;
	position: absolute;
	overflow: hidden;
	transition: all 0.5s;
}

.text_overlay_wrapper.full {
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
}

.text_overlay_wrapper.split {
	width: 100%;
    height: 100%;
	top: 0%;
	left: 0%;
}

.text_overlay_wrapper.left{
	width: 50%;
}

.text_overlay_wrapper.right{
	width: 50%;
    left: 50%;
}

.text_overlay_wrapper.top{
    height: 30%;
}

.text_overlay_wrapper.bottom{
	height: 30%;
	top: 70%;
}

.text_bg {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	transition: all 0.5s;
}

.text_overlay_wrapper.full
 .text_bg {
	opacity: 0 !important;
}

.text_overlay_wrapper.split
 .text_bg {
	opacity: 0.3;
}

.text_area{
	box-sizing: border-box;
	position: absolute;
	bottom: -0.5rem;
	left: 0;
	padding: 0.5rem;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 68px;
	font-weight: 500;
	letter-spacing: 0.05em;
	line-height: 163%;
	color: #fff;
	text-shadow:0 0 5px #000;
	-webkit-text-stroke-width: 0.3px;
	-webkit-text-stroke-color: #000;
	text-align: justify;
	opacity: 0.9;
}

.text_overlay_wrapper.split .text_area{
	padding: 0.5rem 1.5rem;
}

.text_overlay_wrapper.left .text_area,
.text_overlay_wrapper.right .text_area{
	font-size: 50px;
	line-height: 130%;
	padding: 1.4rem 1.5rem;
}

.text_overlay_wrapper.top .text_area,
.text_overlay_wrapper.bottom .text_area{
	font-size: 50px;
	line-height: 150%;
	padding: 1rem 1.5rem;
}

#status,
#status_kuromoji_loading {
    box-sizing: border-box;
	background-color: #000e16;
	display: inline-block;
    min-width: 20ex;
	padding: 8px 10px;
	margin-bottom: 1rem;
	font-size: 14px;
	letter-spacing: 0.02rem;
    line-height: 100%;
	text-align: center;
}

.processing {
    border: 1px #FF8800 solid;
    color: #FF8800;
}

.ready {
    border: 1px #555555 solid;
    color: #555555;
}

.error {
    border: 1px #CC3333 solid;
    color: #CC3333;
}

.help_strong {
	color: #ff0000;
}

.controls_wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	opacity: 0.6;
}

.control_wrapper {
	display: flex;
	flex-wrap: wrap;
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	padding: 1rem;
	font-size: 16px;
	line-height: 200%;
	border: solid 1px #555;
}

.control_wrapper_row {
	margin-right: -5px;
    margin-left: -5px;
}

.control_wrapper_col {
	box-sizing: border-box;
	padding-right: 5px;
	padding-left: 5px;
}

.control_header {
	flex: 0 0 100%;
	max-width: 100%;
	font-size: 90%;
	margin-top: -0.5rem;
	margin-bottom: 0.1rem;
}

.col-2 {
	flex: 0 0 17%;
	max-width: 17%;
}

.col-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.col-4 {
	flex: 0 0 33%;
	max-width: 33%;
}

.col-5 {
	flex: 0 0 41%;
	max-width: 41%;
}

.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.control_form {
	box-sizing: border-box;
	display: grid;
	grid-gap: 0rem 0.25rem;
	position: relative;
    width: 100%;
}

.control_form_slider {
	grid-template-columns: 55px 120px 1fr;
}

.control_form_selector {
	grid-template-columns: 77px 1fr;
}

.control_form_slider .control_label,
.control_form_color .control_label,
.control_form_selector .control_label {
	grid-column: 1 / 2;
	line-height: 230%;
	text-align: right;
}
	
.control_form_slider .control_input {
	grid-column: 2 / 3;
}

.control_form_slider .control_value {
	grid-column: 3 / 4;
	line-height: 230%;
}

.value_unit {
	font-size: 70%;
	padding-left: 0.1rem;
}

.control_form_color {
	grid-template-columns: 55px 80px 1fr;
}

.control_form_radio {
	grid-template-columns: 55px 1fr;
}

.control_form_radio .control_label {
	grid-column: 1 / 2;
	line-height: 230%;
	text-align: right;
}

.control_form_radio .control_input {
	line-height: 230%;
}

input[type="color"] {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
}

input[type="button"] {
	padding: 0.2rem 1rem;
	margin-right: 0.3rem;
}

.control_button_wrapper {
	width: 100%;
	text-align: center;
}

select {
	padding: 0.2rem 0.4rem;
	vertical-align:middle;
}

.select_translation,
.goog-te-gadget {
	display: inline;
}

.selector {
	margin-right: 1rem;
}

.control_selector_wrapper {
	width: 100%;
	margin-top: 1rem;
	text-align: center;
}

#FullScreenBtn{
	position: absolute;
	right: 20px;
	bottom: 20px;
	opacity: 0.4;
	transition: all 0.3s;
}

#FullScreenBtn:hover{
	opacity: 1;
}

#video_wrapper:-webkit-full-screen #FullScreenBtn{
	opacity: 0.4;
}

#video_wrapper:-webkit-full-screen #FullScreenBtn:hover{
	opacity: 1;
}

.result_log_area {
	box-sizing: border-box;
	width: 960px;
	background-color: #000;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 100%;
	color: #AAA;
}

.help_on_error {
	text-align: center;
	color: #F00;
	display: none;
	margin-bottom: 1rem;
}

.help_text {
	font-size: 85%;
	line-height: 145%;
	margin-bottom: 0.5rem;
}

.log_link_description { 
	width: 100%;
	font-size: 70%;
	text-align: right;
}

.log_control_wrapper {
	position: relative;
}

.log_input_wrapper {
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
}

.log_input_wrapper input {
	vertical-align: -1.4px;
}

.mirror {
	transform: scale(-1, 1);
}

.loading_hiragana {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: all 0.3s;
	font-size: 24px;
	margin: 2rem;
	/* text-align: center; */
	vertical-align: middle;
}