html,
body {
	background-color: #000;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	color: #fff;
}

.main {
	margin: 1.5rem;
}

.help_wrapper,
.log_wrapper {
	color: #666;
	margin-bottom: 1rem;
}

a:link, a:visited, a:hover, a:active {
	color: #777;
}

.video_wrapper {
	position: relative;
	width: 960px;
	height: 540px;
	margin-bottom: 1rem;
	transition: all 0.3s;
}

.video_area {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	transition: all 0.3s;
}

.hidden {
	opacity: 0 !important;
}

.bg_green {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	transition: all 0.3s;
	background-color: #00FF00;
}

.text_overlay {
    box-sizing: border-box;
	position: absolute;
	width: 80%;
	height: 80%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	overflow: hidden;
}

.text_area{
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 0;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 68px;
	font-weight: 500;
	letter-spacing: 0.2rem;
	line-height: 165%;
	color: #fff;
	text-shadow:0 0 5px #000;
	text-align: justify;
	opacity: 0.9;
}

#status {
    box-sizing: border-box;
	background-color: #000e16;
	display: inline-block;
    min-width: 20ex;
	padding: 8px 10px;
	margin-bottom: 1rem;
	font-size: 14px;
	letter-spacing: 0.02rem;
    line-height: 100%;
	text-align: center;
}

.processing {
    border: 1px #FF8800 solid;
    color: #FF8800;
}

.ready {
    border: 1px #555555 solid;
    color: #555555;
}

.error {
    border: 1px #CC3333 solid;
    color: #CC3333;
}

.help_strong {
	color: #ff0000;
}

.control_wrapper {
	font-size: 16px;
	line-height: 200%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	opacity: 0.6;
}

.control_form {
	width: 400px;
	display: grid;
	grid-template-columns: 50px 200px 1fr;
	grid-gap: 0rem 1rem;
}

.control_label {
	grid-column: 1 / 2;
	line-height: 230%;
}
	
.control_input {
	grid-column: 2 / 3;
}

.control_value {
	grid-column: 3 / 4;
	line-height: 230%;
}

input[type="color"] {
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: none;
}

#FullScreenBtn{
	position: absolute;
	right: 20px;
	bottom: 20px;
	opacity: 0.4;
	transition: all 0.3s;
}

#FullScreenBtn:hover{
	opacity: 1;
}

#video_wrapper:-webkit-full-screen #FullScreenBtn{
	opacity: 0.4;
}

#video_wrapper:-webkit-full-screen #FullScreenBtn:hover{
	opacity: 1;
}

.result_log_area {
	width: 960px;
	background-color: #000;
	font-family: 'Noto Sans JP', sans-serif;
	color: #FFF;
}